$assetsPath: none;

$primary-font: none;
$secondary-font: none;

$color-font: #373737;

$color-primary: #005a82;
$color-primary-light: #006591;
$color-primary-dark: #004b6b;

$color-secondary: #0091c8;
$color-secondary-light: #00a2e2;
$color-secondary-dark: #0077a7;
